*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-violet{
    background-color: rgba(137, 43, 226, 0.6);
}

.col-white{
    color: white;
}

hr{
    color: rgb(137, 43, 226);
    margin-top: 20px;
    margin-bottom: 20px;
}